*  {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: plum;

}

img {
  border-radius: 15px;
}

button {
  border-radius: 10px;
  width: 15vw;
  height: 5vh;
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: red;
  box-shadow: 0 0 10px black;
}

.botoes-like-dislike {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}